<!DOCTYPE html>
<div class="blog-content">
    <h4>I write two blogs:</h4>
    <ul>
        <li>
            <a href="https://prathmesh6.substack.com/subscribe" target="_blank" class="addUnderline">Embracing Nuances</a>: Training for being a better thinker
            <ul>
                <li><a href="https://prathmesh6.substack.com/p/issue-9-on-being-obsessed-reciprocity" target="_blank" class="addUnderline">On being obsessed, reciprocity, physics alternative, a fun trip, etc</a></li>
                <li><a href="https://prathmesh6.substack.com/p/newsletter-32-on-home-and-family" target="_blank" class="addUnderline">On home and family</a></li>
                <li><a href="https://prathmesh6.substack.com/p/newsletter-30-doing-hard-things" target="_blank" class="addUnderline">Doing hard things</a></li>
            </ul>
        </li>
        <li>
            <a href="https://decodingcoding.substack.com/subscribe" target="_blank" class="addUnderline">Decoding Coding</a>: Simple explainers of ML and SE papers
            <ul>
                <li><a href="https://decodingcoding.substack.com/p/newsletter-8-hugginggpt" target="_blank" class="addUnderline">HuggingGPT</a></li>
                <li><a href="https://decodingcoding.substack.com/p/newsletter-2-certain-randomness" target="_blank" class="addUnderline">Certain Randomness</a></li>
                <li><a href="https://decodingcoding.substack.com/p/newsletter-1-detecting-ai-with-ai" target="_blank" class="addUnderline">Detecting AI with AI</a></li>
            </ul>
        </li>
    </ul>

    <h4>I also wrote on Medium.com a while ago. Here are a few of my blogs published in various publications:</h4>
    <ul>
        <li>In TowardsDataSciece: <a href="https://towardsdatascience.com/android-app-for-notion-automation-using-chaquopy-863e72fa4ecd" target="_blank" class="addUnderline">Android app for Notion automation using Chaquopy</a></li>
        <li>In Analytics Vidhya: <a href="https://medium.com/analytics-vidhya/the-not-evil-youtube-extension-for-firefox-a-tutorial-ebb7063367b6" target="_blank" class="addUnderline">"The not evil YouTube" extension for Firefox — A tutorial</a></li>
        <li>In Analytics Vidhya: <a href="https://medium.com/analytics-vidhya/automating-notion-using-notion-py-fa0f2e8f089e" target="_blank" class="addUnderline">Automating Notion using notion-py</a></li>
    </ul>

    <!-- <h4>Random</h4>
    <p>I will also be writing some blogs here. Currently there is no way to subscribe on my website. But you can subscribe above and you will get notified if I post something here.</p> -->

    <h4><a href="#blog-index" class="addUnderline blog-index-link">Newsletter Index</a></h4>
</div> 